var admins = ['gempir'];

var irc = {
    server: "irc.chat.twitch.tv",
    port: 80,
    username: "",
    pass: 'test;oauth:'
}

var redis = {
    port: '',
    host: '',
    family: 4,
    db: 0,
    password: ''
}


module.exports =
{
    admins,
    irc,
    redis
};
