var admins = ['gempir'];

var irc = {
    server: "irc.chat.twitch.tv",
    port: 80,
    username: "",
    pass: 'test;oauth:'
}

var redis = {
    port: '',
    host: '',
    family: 4,
    db: 0,
    password: ''
}

var PastebinAPI = require('pastebin-js'),
    pastebin = new PastebinAPI({
      'api_dev_key' : '',
      'api_user_name' : '',
      'api_user_password' : ''
    });

module.exports =
{
    admins,
    irc,
    redis,
    pastebin
};
