html
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto:900,700,400', rel='stylesheet', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://cdn.socket.io/socket.io-1.3.7.js')
    link(href='main.css', type='text/css', rel='stylesheet')
    script(src='main.js')
    div(class="popup #{ req }")
